<div mat-dialog-content>
    <p>Düzenleme ekranı</p>
    <mat-form-field appearance="fill">
      <mat-label>Id</mat-label>
      <input [disabled]="true" value="{{data.id}}" matInput #txtid>
      
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input value="{{data.name}}" matInput #txtname>
        
      </mat-form-field>
      <mat-form-field appearance="fill">
    
        <mat-label>Surname</mat-label>
        <input value="{{data.surname}}" matInput #txtsurName>
    
      </mat-form-field>
      <mat-form-field appearance="fill">
    
        <mat-label>PhoneNumber</mat-label>
        <input value="{{data.phonenumber}}" type="tel" placeholder="555-555-5555" matInput #txtphoneNumber>
        
      </mat-form-field>
<!--     
      <mat-form-field appearance="fill">
    
        <mat-label>DepartmentId</mat-label>
        <input value="{{data.departmentid}}" matInput #txtdepartmentId>
        
      </mat-form-field> -->

      <mat-form-field appearance="fill">
        <mat-label>Department</mat-label>
        <select matNativeControl (change)="selectDepartment($event)">
          <option value=""></option>
          <option *ngFor="let option of departments" [value]="option.value"
                  [selected]="selectedDepartment === option.value">{{ option.viewValue }}</option>
        </select>
      </mat-form-field>
      <!-- <mat-form-field appearance="fill">
    
        <mat-label>Birthday</mat-label>
        <input type="date"  matInput #txtpicker>
        
      </mat-form-field> -->
      <!-- <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input value="{{data.birthday}}" matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
      </mat-form-field> -->
      <!-- <div class="form-group">
        <label for="birthDay">BirthDay</label>
        <input type="date" formControlName="birthDay" class="form-control">
        </div> -->

  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">cancel</button>
    <button mat-button (click)="update(txtid,txtname,txtsurName,txtphoneNumber)"  cdkFocusInitial>update</button>
  </div>
  