
<section>
    <mat-divider></mat-divider> 
    <div class="example-button-row">
    <a mat-raised-button color="primary" routerLink="/admin" >DashBoard</a>
    <a mat-raised-button color="primary" routerLink="authorities">Authorities</a>
    <a mat-raised-button color="primary" routerLink="departments">Departments</a>
    <a mat-raised-button color="primary" routerLink="missions">Missions</a>
    <a mat-raised-button color="primary" routerLink="userauthorities">UserAuthorities</a>
    <a mat-raised-button color="primary" routerLink="usermissions">UserMissions</a>
    <a mat-raised-button color="primary" routerLink="users">Users</a>
    <a mat-raised-button color="primary" routerLink="">Siteyi Gör</a>
    </div>
</section>
    <mat-divider></mat-divider>
