<mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput #txtName>
    
  </mat-form-field>
  <mat-form-field appearance="fill">

    <mat-label>Surname</mat-label>
    <input matInput #txtSurname>

  </mat-form-field>
  <mat-form-field appearance="fill">

    <mat-label>PhoneNumber</mat-label>
    <input type="tel" placeholder="555-555-5555" matInput #txtPhoneNumber>
    
  </mat-form-field>
  

  <!-- <mat-form-field appearance="fill">

    <mat-label>DepartmentId</mat-label>
    <input matInput #txtDepartmentId>
    
  </mat-form-field> -->
 
  <mat-form-field appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
  </mat-form-field>
  
  <mat-form-field appearance="fill">
    <mat-label>Department</mat-label>
    <select matNativeControl (change)="selectDepartment($event)">
      <option value=""></option>
      <option *ngFor="let option of departments" [value]="option.value"
              [selected]="selectedDepartment === option.value">{{ option.viewValue }}</option>
    </select>
  </mat-form-field>
 
  
  <button mat-stroked-button color="primary" class="button" (click)="create(txtName,txtSurname,txtPhoneNumber)">Create</button>