<mat-form-field appearance="fill">
  <mat-label>User Id</mat-label>
  <select matNativeControl (change)="selectUserId($event)">
    <option value=""></option>
    <option *ngFor="let option of userids" [value]="option.value"
            [selected]="selecteduserid === option.value">{{ option.viewValue }}</option>
  </select>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Authority Id</mat-label>
  <select matNativeControl (change)="selectAuthorityids($event)">
    <option value=""></option>
    <option *ngFor="let option of authorityids" [value]="option.value"
            [selected]="selectedauthorityids === option.value">{{ option.viewValue }}</option>
  </select>
</mat-form-field>

  

<button mat-stroked-button color="primary" class="button" (click)="create()">Create</button>